.container {
  padding-top: 25px;
}

.festList {
  width: 100%;
}

.filters-container {
  display: flex;
}

.filters-container,
.search-container { 
  margin-bottom: 10px;
}

.filters-container button { 
  margin-right: 5px;
}

.filters-refresh {
  margin-left: auto;
}