.container { 
  padding: 25px;
}

.festList {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;

  grid-template-columns: 1.5fr 0.5fr 0.25fr 1.75fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.filters-container {
  display: flex;
}

.filters-container,
.search-container { 
  margin-bottom: 10px;
}

.filters-container button { 
  margin-right: 5px;
}

.filters-refresh {
  margin-left: auto;
}

.search-container input {
  min-width: 250px;
  width: 19%;
}

thead,
tbody,
tr {
  display: contents;
}

th {
  text-align: left;
}