@import "../node_modules/bulma/bulma.sass";

.container {
  padding-top: 25px;
}

.festList {
  width: 100%;
}

.filters-container {
  display: flex;
}

.filters-container,
.search-container { 
  margin-bottom: 10px;
}

.filters-container button { 
  margin-right: 5px;
}

.filters-container button.filters-refresh {
  margin-left: auto;
  margin-right: 0;
}

button.is-selected {
  background-color: $primary;
  color: white;
}